.App {
  text-align: center;
}

.body {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -100px;
}
.createTask {
  text-align: center;
}
.tasklist {
  background-color: rgb(255, 255, 255);
  padding: 20px 30px 20px 10px;
  border: 2px solid #e54028;
  border-radius: 16px;
  width: 400px;
  margin-bottom: 20px;
}

.donebutton {
  margin-top: 10px;
  width: 90px;
  height: 25px;
  text-decoration: none;
  color: #fff;
  background: #e54028;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.donebutton:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border: none;
  box-shadow: none;
  text-shadow: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.toggle {
  display: inline-block;
}
.switch {
  margin-top: 4px;
  margin-left: 2px;
  font-size: 24px;
  padding: 2px;
  text-align: center;
}
.switch input[type='checkbox'] {
  position: absolute;
  opacity: 0;
}
.switch label {
  width: 2em;
  height: 2em;
  position: relative;
  cursor: pointer;
  display: block;
}
.switch label:before {
  content: '';
  position: absolute;
  width: 2em;
  height: 1em;
  left: 0.1em;
  transition: background 0.1s ease;
  background: #f1f1f1;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(171, 66, 63, 0.5);
}
.switch label:after {
  content: '';
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 50px;
  left: 0;
  transition: all 0.2s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  background: #fcfff4;
  animation: swich-off 0.2s ease-out;
  z-index: 2;
}
.switch input[type='checkbox']:checked + label:before {
  background: #e54028;
  box-shadow: inset 0px 1px 1px rgba(84, 152, 140, 0.5);
}
.switch input[type='checkbox']:checked + label:after {
  animation: switch-on 0.2s ease-out;
  left: 1.1em;
}
